@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Sarala:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ColorPalette Dark */
  --dm-main-bg-color: hsl(208, 81%, 4%, 100%);
  --dm-secondary-color:#b5a887;
  --dm-secondary-color-alt:#B3A394;
  --dm-secondary-color-alt-2:hsl(44, 16%, 42%);
  --dm-third-color: #275e74;
  --dm-glow-color: hsl(194, 48%, 12%);
  --dm-alt-color-1: #C0DDEF;
  --dm-alt-color-2:#429EA6;
  --dm-alt-color-3:#2E86AB;
  --dm-alt-color-4:#70D6FF;
  --dm-alt-color-5:#EA526F;
  --dm-alt-color-6:#9893DA;
  --dm-alt-color-7:#C7B8EA;
  --dm-alt-color-8:#6F5E5C;
  --dm-alt-color-9:#7B5E7B;

/* ColorPalette Light */
  /* --lm-main-bg-color: #B1B2B3; */
  --lm-main-bg-color: #AEB3B5;
  --lm-secondary-color: #212121;
  --lm-third-color:#DBFE87;
  --lm-third-color-alt1:#AFFC41;
  --lm-third-color-alt2:#61FF7E;
  --lm-glow-color: #E7E7E8;

  --text-main-header: 'Montserrat', 'sans-serif';
  --text-secondary-header: 'Puritan', 'sans-serif';
  --text-main-body: 'Sarala', 'sans-serif';
}

body {
  transition: background 0.5s, color 0.5s;
  background: var(--bkg-color);
  color: var(--text-color);
  font-family: var(--text-main-body);
}
a {
  color: var(--anchor-color);
}

/* Default colors */
body {
  --bkg-color: var(--lm-main-bg-color);
  --text-color: var(--lm-secondary-color);
}
/* Dark theme colors */
body.dark-theme {
  /* --text-color: #347d99; */
  --bkg-color: var(--dm-main-bg-color);
  --text-color: var(--dm-secondary-color);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body { 
    --bkg-color: var(--dm-main-bg-color);
    --text-color: var(--dm-secondary-color);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --bkg-color: var(--lm-main-bg-color);
    --text-color: var(--lm-secondary-color);
  }
}

.btn-dark {
/* color: #70d6ff; */
color: var( --dm-third-color);
}

.btn-dark:hover{
color: var(--dm-secondary-color);
border-color: var(--dm-third-color);
background-color: var(--dm-third-color);
}

.btn-light {
color: var(--lm-third-color);
}

.btn-light:hover {
  color: var(--lm-main-bg-color);
  border-color: var(--lm-third-color);
  background-color: var(--lm-third-color);;
}

/*
NEEDED FOR TEXT WITH MOVING (GIF) BACKGROUND
Add gif as div background, put text layer on top and add these css attributes to the text
-webkit-text-fill-colo:transparent;
-webkit-background-clip:text;*/

/*Glow Fade-In*/

@keyframes glow-on-scroll {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .glow-animation {
    animation-name: glow-on-scroll;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-fill-mode: both;

  }

/*Drawing Fade-Out*/

@keyframes drawing-fade-out {
  0% {
    opacity: 100%;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}

.drawing-animation {
  animation-name: drawing-fade-out;
  animation-duration: 11s;
  animation-fill-mode: both;
  }

/*Portrait Fade-In*/

@keyframes portrait-fade-in {
  0% {
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}  

  .portrait-animation {
    animation-name: portrait-fade-in;
    animation-delay: 5.5s;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
}

/*Link-Buttons Fade-Out*/

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  
  100%{
    opacity: 0%;
  }
}  

  .linkButton-fade-out-animation {
    animation-name: fade-out;
    animation-delay: 7s;
    animation-duration: 3s;
    animation-fill-mode: both;
  }

  .fade-out {
    animation-name: fade-out;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  /*Link-Buttons Fade-In*/

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  
  100%{
    opacity: 100%;
  }
} 


  .linkButton-fade-in-animation {
    animation-name: fade-in;
    animation-delay: 8.5s;
    animation-duration: 4s;
    animation-fill-mode: both;
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: both;
  }



  @keyframes glow-fade-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

 .glow-fade-in {
    animation-name: glow-fade-in;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: both;

  }

  .card-text-cutoff {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 6.8rem;
  }

  .card-text-cutoff > p {
    margin-bottom: 0;
    padding-bottom:0;
  }

  

  @media (width < 639px) {
a.profile-link-dark::after, a.profile-link-light::after {
    width: 18px;
  display: inline-block;
  z-index: 2;
  position: relative;
  margin-right: 3px;
  padding: 0;
  top: 2px;
  left: 2px;
}

   a.profile-link-dark::after {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%23b5a887' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
  }

   a.profile-link-dark:hover::after {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%230891b2' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
}

    a.profile-link-light::after {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%23212121' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
  }

   a.profile-link-light:hover::after {
filter: drop-shadow(0.5px 0.5px 1px #DBFE87);  
}
  }

  @media (width > 639px) {

    a.profile-link-dark::after, a.profile-link-light::after {
width: 20px;
  display: inline-block;
  z-index: 2;
  position: relative;
  margin-right: 3px;
  padding: 0;
  top: 2.5px;
  left: 3px;
    }

  a.profile-link-dark::after {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%23b5a887' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
  }

   a.profile-link-dark:hover::after {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%230891b2' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
}

    a.profile-link-light::after {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%23212121' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
  }

   a.profile-link-light:hover::after {
filter: drop-shadow(0.5px 0.5px 1px #DBFE87);  
}
}

.skill::after {
  content: attr(data-content);
  opacity:0; 
    transition: 0.3s;
    position: relative;
    margin-top: 4px;
}

.skill:hover::after {
  content: attr(data-content);
  color: currentColor;
  opacity: 1;
}

.dot-section::before {
  content: attr(dot-description);
  color:transparent;
  opacity:0; 
  position: relative;
    right: -25px;
        bottom: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: ease-out 1s;
    transition-delay: 1s;
}

.dot-section:hover::before {
  color: currentColor;
  opacity:1; 
  position: relative;
    right: 25px;
    bottom: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.spinner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lng-de-selector::before {
  /* content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%23b5a887' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> "); */
content: '';
  height: 20px;
width: 20px;
background: red;
  display: flex;
justify-content: flex-end;
align-items: center;
}

.lng-de-selector::before {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='%23b5a887' ><path strokeLinecap='round' strokeLinejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /></svg> ");
height: 20px;
width: 20px;
  display: flex;
justify-content: flex-end;
align-items: center;
}

/* @media (width > 639px) {

.info-container::before {
  content:'';
width: 100px;
height: 50px;
background-color: red;
position: relative;
border-radius: 50%;

}
.info-container::after {
  content: '';
width: 100px;
height:100px;
background-color: red;
position: relative;
top: 50%;
}
} */